.panel-top-header {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.body-left-area {

	.left-area-item {
		display: flex;
		justify-content: space-between;
		.item-left {
			display: flex;
			span {

			}
			div.radio-item {

			}
		}
		.item-right {

		}
	}
}

.left-area-item {
	display: flex;
	justify-content: space-between;
}