
.dashboard-icon {
    background-position: -250px -50px;
}

.database-icon {
    background-position: -8px -90px;
}

.table-icon {
    background-position: -47px -90px;
}

.slice-icon {
    background-position: -290px -50px;
}

.user-icon {
    background-position: -130px -90px;
}

.data-tendency{
    border-radius: 4px;
    padding:0 20px;
    margin:20px 0;
    .data-title{
        display:flex;
        justify-content:center;
        padding:25px 0;
        h2{
            border-right:1px solid #edf1f5;
            padding:0 45px;
            text-align:center;
            dl {
                display: flex;
                align-items: center;
            }
            dt{
                i{
                    width: 26px;
                    height: 22px;;
                    margin-bottom: 16px;
                    margin-right: 8px;
                }
            }
            dd{
                user-select: none;
                .count {
                    font-size:36px;
                    color:#1d2531;
                    text-align: left;
                }

                .name {
                    color: #9fa9ba;
                    cursor: pointer;
                    text-align: left;
                }

                .current {
                    color: #0083f8;
                }
            }
        }
    }
    .dashboard-linechart{
        height:400px;
    }
}

.top10-and-worktimes{
    display:flex;
    overflow: hidden;
    .top10{
        overflow: hidden;
        flex:1;
        @include border();
        margin-right:18px;
        .index-title-module{
            .transparent{
                width:138px;
            }
        }

    }

    .worktimes{
        @include border();
        flex:1;
        overflow:hidden;
    }
}
.recentedit-and-event{
    margin:20px 0;
    display:flex;

    .more-icon {
        width: 10px;
        height: 18px;
        text-align: center;
        background-position: -92px -90px;
        margin-left: auto;
        margin-right: auto;
    }
    .recentedit{
        flex:1;
        margin-right:18px;
        .edit-list{
            .ant-table table {
                border-collapse: collapse !important;
                .ant-table-row {
                    border-left: 4px solid #ffffff;
                    &:hover {
                        border-left: 4px solid #289df5;
                    }

                    td {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;

                        a {
                            display: block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    .event{
        flex:1;
        .event-list{
            .ant-table table {
                border-collapse: collapse !important;
                .ant-table-row {
                    border-left: 4px solid #ffffff;
                    &:hover {
                        border-left: 4px solid #289df5;
                    }

                    .user-td {
                        display: flex;
                        align-items: center;

                        .user-icon {
                            margin-right: 6px;
                        }
                    }

                    .action-text {
                        margin-left: 22px;
                    }

                    .action-title {
                        display: flex;
                        align-items: center;
                    }

                    .action-title-icon {
                        margin-right: 4px;
                    }

                    .icon {
                        width: 18px;
                        height: 18px;
                    }
                }
            }

            ul{
                display:flex;
                height:53px;
                align-items:center;
                border-bottom:$borderStyle;
                li{
                    flex:1;
                    color:#333c48;
                    .round-bg{
                        display:inline-block;
                        margin-left:20px;
                         width:18px;
                         height:18px;
                         border-radius:50%;
                         background-color:#e6f2ff;
                         text-align:center;
                         position:relative;
                         top:2px;
                         svg{
                            width:9px;
                            height:11px;
                            fill:#2a9ef5;
                         }
                    }

                    .explore_json-type{
                        dl{
                            dt{
                                font-size:14px;
                                padding-left:20px;

                            }
                            dd{
                                svg{
                                    width:16px;
                                    height:16px;
                                    fill:orange;
                                    position:relative;
                                    top:3px;
                                }
                                strong{
                                    color:#7c8ca5;
                                }
                            }
                        }
                    }
                }
                li:first-child{
                    color:#2499f2;
                    font-size:14px;
                }
                li:last-child{
                    font:12px Arial;
                }
            }
            ul:last-child{
                border:0;
            }
        }
    }
    .more{
        width:77px;
        padding-right:15px;
        text-align:right;
        svg{
            width:20px;
            height:20px;
            fill:#aeb7bc;
            cursor:pointer;
        }
    }
}
.times-barchart{
    height:410px;
}
