
/*xulin css*/
$borderStyle:1px solid #e9eaed;
@mixin dropdown{
  box-sizing:border-box;
  padding-left:15px;
  background-color:#fff;
  color:#1d2531;
  width:158px;
  border-bottom: 1px solid #c5d0de;
  justify-content: flex-start;
  height:40px;
}



.responsive-title{
  width:100%;
  border-radius:4px;
}
.responsive-title>thead,.responsive-title>tbody{
  width:100%;
}
.responsive-title>thead>tr{
  display: flex;
  width:100%;
  height:40px;
  border-bottom: 1px solid #e7e9ed;
  align-items:center;
}
.responsive-title>tbody>tr{
  display:flex;
  border-bottom: 1px solid #e7e9ed;
  height:50px;
}
.responsive-title>thead>tr>th{
  flex:1
}
.responsive-title>tbody>tr>td{
  flex:1;
  align-items: center;
  display:flex;
  color:#7f8fa4;
}
.action-checkbox .responsive-checkbox,.responsive-title>tbody>tr>td>.responsive-checkbox{
  float:none;
  margin-left:20px;
}
.responsive-title>tbody>tr>td:nth-child(2),.responsive-title>thead>tr>th:nth-child(2){
  flex:2;
}
.responsive-title>tbody>tr>td>a{
  color:#2499f2;
}
.search-input>input{
  width:243px;
  height:30px;
  background-color:#fff;
  border-radius: 4px;
  color:#354052;
}
.all-and-collect{
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;
  margin-right:10px;
}
.all-and-collect>button{
  width:80px;
  height:32px;
  text-align: center;
  color:#9a9fa8;
  background-color:#fff;
}
.all-and-collect>.active{
  background-color:#279cf2;
  color:#fff;
}
.all-and-collect>button:last-child{
  margin-left:-3px;
}
.well-title{
  margin:0;
  padding:0;
  border:0;
  box-shadow: none;
}
.table-responsive{
  clear:both;
}

.panel-primary{
  .table-responsive{
    border:$borderStyle;
    border-radius:4px;
    overflow: hidden;
    .responsive-title{
      thead{
        tr{
          th{
            a{
              color:#7f8fa4;
              .icon{
                display:inline-block;
                width:6px;
                height:7px;
                background-position:-216px -97px;
              }
            }
          }
        }
      }
      tbody{
        .btn-group-xs{
          display:flex;
          a{
            margin-right:24px;

          }
          a:nth-of-type(1){
            .icon{
              width:15px;
              height:14px;
              background-position:-253px  -134px;
            }
          }
          a:nth-of-type(2){
            .icon{
              width:17px;
              height:15px;
              background-position:-291px  -133px;
            }
          }
          a:nth-of-type(3){
            .icon{
              width:14px;
              height:16px;
              background-position:-12px  -172px;
            }
          }
          
        }
      }
    }
  }
  .well-sm{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:10px;
    margin:0;
    border:0;
    overflow: hidden;
    .btnsLeft{
        display:flex;
        align-items:center;
        .icon{
            width:18px;
            height:23px;
            background-position:-291px -47px;
            margin-right:10px;
          }
        .tit-parts:first-of-type{
          font-size:18px;
          color:#354052;
          padding-right:10px;
          
        }
    .tit-parts{
          strong{ 
            color:#7f8fa4;
            font-size:14px;
         }
      }
    }
    .btnsRight{
      display:flex;
      align-items:center;
      form{
          display:flex;
          align-items:center;
        }
      .addDelete{
        display:flex;
        margin-right:10px;
        border:$borderStyle;
        border-radius:4px;
        overflow: hidden;

        a{
          display: flex;
          width:40px;
          height:30px;
          background-color:#fff;
          text-indent: -2000px;
          justify-content: center;
          align-items:center;
          .icon{
            width:16px;
            background-position:-251px -172px;
            height:16px;
          }
        }
        .add{
          border-right:$borderStyle;
          .icon{
            width:12px;
            height:12px;
            background-position:-214px -174px;
          }
        }
      }
      .f4{
        position:relative;
        input{
          background-color:#fff;
          width:243px;
          height:30px;
          border:$borderStyle;
          border-radius:4px;
          color:#354052;
          font-size:14px;
        }
        .icon{
          background-position:-92px -212px;
          width:14px;
          height:14px;
          position:absolute;
          top:8px;
          right:10px;
          background-color:transparent;
        }
      }
    }
    
    .btns{
      float:right;
    }
  }
}
.icon{
  background-image:url(../../images/icon-img/icon.png);
  display:block;
}

// 导航栏样式
.navbar-inverse{
  background-color:#0067a6;
  border:0;
  .nav-container{
    display:flex;
    padding:0 20px;
    height:50px;
    align-items:center;
    justify-content: space-between;
    .navbar-logo{
      display: block;
      .icon{
        display:block;
        width:165px;
        height:36px;
        background-position:-119px -640px;
      }
    }
    .nav{
      display:flex;
      .nav-li{
        margin-right:25px;
        .dropdown-menu{
          padding:0;
          li{
            margin:0;
            a{
              @include dropdown;
            }
            a:hover{
              background-color:#f1f4f8;
            }
          }
        }
        a{
          display: flex;
          padding:0;
          height:50px;
          width:107px;
          text-align:center;
          font:12px/50px Miscrosoft YaHei;
          justify-content: center;
          align-items:center;
          color:#fff;
          .icon{
            margin-right:8px;
          }
        }
        a:hover{
          background-color:#279cf2;
          color:#fff;
        }
      }
      .nav-li:nth-of-type(1){
        a{
          .icon{
            width:24px;
            height:17px;
            background-position:-8px -10px;
          }
        }
      }
      .nav-li:nth-of-type(2){
        a{
          .icon{
            width:25px;
            height:16px;
            background-position:-290px -639px;
          }
        }
      }
      .nav-li:nth-of-type(3){
        a{
          .icon{
            width:15px;
            height:19px;
            background-position:-93px -51px;
          }
        }
      }
      .nav-li:nth-of-type(4){
        a{
          .icon{
            width:21px;
            height:19px;
            background-position:-130px -11px;
          }
        }
      }
      .nav-li:nth-of-type(5){
        a{
          .icon{
            width:17px;
            height:17px;
            background-position:-171px -11px;
          }
        }
      }
    }
    .sub-nav{
      display:flex;
      align-items:center;
      .open{
        .dropdown-menu{
          left:-134px;
          padding:0;
          
          li{
            margin:0;
            height:40px;
            box-sizing:border-box;
            padding:0;
            a{
              @include dropdown;
              line-height:40px;
              padding-top:0;
            }
            a:hover{
              background-color:#f1f4f8;
            }
          }
        }
      }
      li:nth-of-type(1){
        margin-right:25px;
        height:16px;
        box-sizing:border-box;

        a{

          .icon{
            width:17px;
            height:16px;
            background-position:-252px -12px;
          }
        }

      }
      li:nth-of-type(2){
        margin-right:25px;
        a{
          .icon{
            width:16px;
            height:16px;
            background-position:-292px -11px;
          }
        }

      }
      li:nth-of-type(3){
        height:7px;
        a{
          .icon{
            width:12px;
            height:7px;
            background-position:-296px -657px;
          }
        }

      }

    }
  }
}
