$borderRadius:4px;
.tp-btn{
	border-radius:$borderRadius;
	text-align:center;
	color:#fff;
}
.tp-btn-middle{
	width:120px;
	height:34px;
	font:16px/34px Miscrosoft YaHei;
}
.tp-btn-primary{
	background-color:#2acc28;
}


.popup {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 1999;
	display: flex;
	justify-content: center;
	align-items: center;
	.popup-dialog {
		height: auto;
		z-index: 2000;
		background-color: #ffffff;
		border-radius: 4px;
		opacity: 1;
	}
	.popup-lg {
		width: 900px;
	}

	.popup-md {
		width: 600px;
	}

	.popup-sm {
		width: 300px;
	}

	.popup-content {
		width: 100%;
		height: 100%;
	}

	.popup-header {
		width: 100%;
		height: 40px;
		background-color: #0067a6;
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		color: #ffffff;

		.header-left{
			display:flex;
			align-items:center;
			.icon{
				width:13px;
				height:15px;
				background-position:-13px -293px;
			}
			span{
				margin-left: 10px;
			}
			
		}
	}

	.popup-body {

		
		width: 100%;
		min-height: 200px;
		padding: 20px 40px;
	}

	.popup-footer {
		width: 100%;
		height: 50px;
		background-color: #f0f3f8;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.dialog-item {
		padding-bottom: 10px;
		display:flex;
		align-items:center;
		.item-left {
			width: 15%;
			text-align:right;
			
		}
		.item-right {
			width: 85%;
			
			.dialog-area{
				 width:100%;
				 height:79px;
				 border:$borderStyle;
				 border-radius:4px;
				 padding:10px;
			display: inline-block;
		}
	
	}
	.sub-item {
		width: 50%;
		display:flex;
		.item-left {
			width: 30%;
			text-align:right;
		}
		.item-right {
			width: 70%;
			
		}
	}

	input.dialog-input {
		height: 32px;
	}

	input.dialog-area {

	}
}