.work-record-title{
    padding-top:32px;
    display:flex;
    justify-content:space-between;
    h2{
        strong{
            font-size:18px;
            color:#354052;
            padding:0 10px;
        }
        sub{
            font-size:14px;
            color:#7f8fa4;
        }
    }
    svg{
        width:16px;
        height:16px;
    }
    .record-set{
        display:flex;
        ol{
            display:flex;
            border:$borderStyle;
            border-radius:3px;
            li{
                width:40px;
                background-color:#fff;
                margin-right:1px;
                cursor:pointer;
                text-align:center;
                height:30px;
                line-height:40px;
                svg{
                    fill:#afb4bc;
                }
            }
            .current{
                svg{
                    fill:#249af1;
                }
            }
        }
        .title-tab{
            padding:0 10px;
            ul{
                li{
                    width:80px;
                    background-color:#fff;
                    box-sizing:border-box;
                    text-align:center;
                    svg{
                        position:relative;
                        top:2px;
                        fill:#9a9fa8;
                    }
                }
            }
        }
        .sel-type{
            width:110px;
            background-color:#fff;
        }
        .record-search{
            position:relative;
            margin-left:10px;
            input{
                width:243px;
                height:30px;
                border-radius:3px;
                border:$borderStyle;
            }
            svg{
                width:14px;
                height:14px;
                fill:#2097f0;
                position:absolute;
                right:10px;
                top:8px;
            }
        }
    }
}
