{% extends "superset/basic.html" %}

{% block body %}
<div id="slice" class="slice-list">
    <div class="slice-operation">
        <div>
            工作表
        </div>
        <div>
            <button id="addSlice" class="btn btn-default">+</button>
            <button id="deleteSlice" class="btn btn-default">-</button>
            <button id="showAll" class="btn btn-default">全部</button>
            <button id="showFavorite" class="btn btn-default">收藏</button>
            <input />
        </div>
    </div>
    <div id="slice-list-content" class="slice-content">

    </div>
</div>
{% endblock %}

{% block head_js %}
    {{ super() }}
    {% with filename="sliceList" %}
        {% include "superset/partials/_script_tag.html" %}
    {% endwith %}
{% endblock %}

